<div class="margindiv">
<h1>Editing Admin</h1>

<%= render 'form', admin: @admin %>

<%= link_to 'Show', @admin, class: "btn btn-info", id:"white"  %> |
<%= link_to 'Back', admins_path, class: "btn btn-info", id:"white"   %>
</div>
