<div class="margindiv">
<h1>Editing Job</h1>
</div>

<%= render 'form', job: @job %>

<div class="margindiv">

<div class="blue">
<%= link_to 'Show', @job, class: "btn btn-info"  %> 
<%= link_to 'Back', jobs_path, class: "btn btn-info"  %>
</div>
</div>
