<div class="margindiv">
<h1>Editing Follow Up</h1>
</div>

<%= render 'form', job: @job, followup: @followup %>

<div class="margindiv">

<div class="blue">
<%= link_to 'Back', @job, class: "btn btn-info", id:"white"   %>
</div>
</div>
