<div class="margindiv centered">

<h1>About</h1>
<div>This is a simple Rails App to help keep track of all of your job applications.</div>
<div>
 Feel free to make a pull request to add new features.
 <div>  
 
  <a href="https://github.com/stevencapuzzi/jobtracker-wynwork" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
 </div>
</div>

</div>
