<div class="margindiv centered">

<h1>About</h1>
<div class="marginal">This is a simple Rails App to help keep track of all of your job applications.</div>
<div>
 Feel free to make a pull request to add new features or fix a bug and get your name on this page.
 <div class="fontz marginal"> 
  <a href="https://github.com/stevencapuzzi/jobtracker-wynwork" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
 </div>
 <hr>
 <div  class="fontz createdby">
  Originally created by <a href="https://stevencapuzzi.com/portfolio" target="_blank" rel="noopener noreferrer">Steven Capuzzi</a> and <a href="http://leopolicastro.com" target="_blank" rel="noopener noreferrer">Leo Policastro</a>
 </div>

 <div class="collab">Collaborators</div>

<table class="table table-striped collab-tab">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name/Cohort</th>     
      <th scope="col">Contribution</th>
      <th scope="col">Git Commit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= link_to "Michael Gregory/C9", 'https://github.com/mgreg90', class:"nav-link", target:"_blank", rel:"noopener noreferrer" %></td>
          
      <td>Added validations for password length and email and removed unused code.</td>
      <td><%= link_to "Commit", 'https://github.com/stevencapuzzi/jobtracker-wynwork/commit/cf60e7b7086aee20352a35fbb4d6310d2de6093d', class:"nav-link", target:"_blank", rel:"noopener noreferrer" %></td>
    </tr>
   
  </tbody>
</table>

</div>
