<div class="margindiv centered">

<h1>About</h1>
<div class="marginal">This is a simple Rails App to help keep track of all of your job applications.</div>
<div>
 Feel free to make a pull request to add new features or fix a bug and get your name on this page.
 <div class="fontz marginal"> 
  <a href="https://github.com/stevencapuzzi/jobtracker-wynwork" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
 </div>
 <hr>
 <div  class="fontz createdby">
  Originally created by <a href="https://stevencapuzzi.com/portfolio" target="_blank" rel="noopener noreferrer">Steven Capuzzi</a> and <a href="http://leopolicastro.com" target="_blank" rel="noopener noreferrer">Leo Policastro
 </div>
</div>

</div>
