/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(//db.onlinewebfonts.com/c/8fb222e4a45b1dcdd3000a76beb706e2?family=Aviano+Future+Heavy+Fast);
 
*{
  margin: 0 ;
  padding: 0;
  font-family: 'Roboto',
  sans-serif;
}

.form-control{
  width: 40% !important;
}
.margindiv{
  margin-left: 5rem !important;
   margin-right: 5rem;
}
.formdiv{
  margin-left: 5rem;
 
}
.fontz{
  /* font-weight: bold; */
  /* font-size: 2rem; */
  font-size: 1.1rem;
}

.avior {
  font-family: "Aviano Future Heavy Fast";
}
.centered{
  text-align: center;
}
.fab{
  font-size: 2rem;
  color: black !important;
}
a:visited {
  color: white;
}

.fontz a {
  color: blue;
}
.marginbot{
  margin-bottom: 2rem;
}
.createdby{
  margin-top: 10rem;
}
.marginal{
  margin-top: 2rem;
}
