/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(//db.onlinewebfonts.com/c/8fb222e4a45b1dcdd3000a76beb706e2?family=Aviano+Future+Heavy+Fast);
 
*{
  margin: 0 ;
  padding: 0;
  font-family: 'Roboto',
  sans-serif;
}

.form-control{
  width: 40% !important;
}
.margindiv{
  margin-left: 5rem !important;
   margin-right: 5rem;
}
.formdiv{
  margin-left: 5rem;
 
}
.fontz{
  /* font-weight: bold; */
  /* font-size: 2rem; */
  font-size: 1rem;
}
.avior {
  font-family: "Aviano Future Heavy Fast";
}

#signup{
  color: black;
}
.avior:hover {
  color: ;
  background: none;
}
.centered{
  text-align: center;
}
.fab{
  font-size: 2rem;
  color: black !important;
}

.fontz a {
  color: blue;
}
.marginbot{
  margin-bottom: 2rem;
}
.createdby{
  margin-top: 10rem;
}
.marginal{
  margin-top: 2rem;
}
.blue{
  color: blue !important; 
}
#fullwide{
  width: 100% !important;
}
a:hover{
  text-decoration: none;
}
a:visited {
  color: blue;
}
#white{
  color: white !important;
}
#marginal{
  width: 100% !important;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.text-muted{
  text-align: center;
}

.box span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #17a2b8;
	border-bottom: 2px solid #17a2b8;
	transform: rotate(45deg);
	margin: -10px;
  animation: animate 2s infinite;
  margin-left: 2rem;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

#left{
  animation: moveIn 1s ease-out;
  animation-duration: 3s;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-650px) rotateX(90deg);;
    transform: rotateX(90deg);
  }
}
